// modules/_components.scss

@use "variables" as v;
@use "functions" as f;
// @use "mixins" as m;
@use "media_queries" as q;

/* CAROUSEL */

.testimonials > h2 {
    margin-bottom: f.rem-calc(0);
}

.carousel {
    position: relative;
}

.carousel-item > p {
	color: v.$carousel-font-color;
	font-style: italic;
	font-weight: 400;
	width: 100%;
	display: block;
	margin: f.rem-calc(30) auto;
    @include q.respond-above(xxs) {
        width: 90%;
    }
    @include q.respond-above(xs) {
        width: 85%;
    }
}

.carousel-indicators {
    display: none;
    @include q.respond-above(xs) {
	    bottom: -16%;
        display: flex;
    }
}

.carousel-control-prev,
.carousel-control-next {
    display: none;
    @include q.respond-above(xxs) {
        display: block;
        top: 50%;
    }
}

.carousel-control-prev {
	left: -40px;
}

.carousel-control-next {
	right: -50px;
}

/* CAROUSEL-END */

/* FLOATING-BUTTON */

.btn-float {
	position: fixed;
}

.btn-fixed {
	position: relative;
}

.back-to-top {
	bottom: 1.5rem;
	left: 1.5rem;
	z-index: 1;
	cursor: pointer;
	color: #e3b72f;
	opacity: 0;
	background-color: transparent;
	transition: all .25s ease-in-out;
}

#backToTop.active {
	pointer-events: auto;
	opacity: 0.9;
}

#backToTop.active:hover {
	pointer-events: auto;
	opacity: 1;
}

/* FLOATING-BUTTON-END */
