// modules/_general.scss

@use "variables" as v;
@use "functions" as f;
@use "media_queries" as q;

/* GENERAL */

html {
    font-size: f.$rem-base;
}

body {
    background-image: url('../images/branches.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

section {
    padding: f.rem-calc(60 0);
    background-color: v.$primary-bg-color;
}

h1 {
    color: v.$primary-header-color;
    font-size: f.rem-calc(v.$h1-font-size-xsmall);
    font-weight: 600;
    margin-bottom: f.rem-calc(60);
    text-align: center;
	text-shadow: 2px 2px #000;
    @include q.respond-above(md) {
        font-size: f.rem-calc(v.$h1-font-size-small);
    }
    @include q.respond-above(lg) {
        font-size: f.rem-calc(v.$h1-font-size-medium);
    }
    @include q.respond-above(xl) {
        font-size: f.rem-calc(v.$h1-font-size-large);
    } 
}

h2 {
    color: v.$secondary-header-color;
    font-weight: 600;
    font-size: f.rem-calc(v.$h2-font-size-xxsmall);
    margin-bottom: f.rem-calc(20);
    @include q.respond-above(xs) {
        font-size: f.rem-calc(v.$h2-font-size-xsmall);
    }
    @include q.respond-above(md) {
        font-size: f.rem-calc(v.$h2-font-size-small);
    }
    @include q.respond-above(lg) {
        font-size: f.rem-calc(v.$h2-font-size-medium);
    }
    @include q.respond-above(xl) {
        font-size: f.rem-calc(v.$h2-font-size-large);
    }
}

p {
    color: v.$primary-font-color;
    // font-family: v.$primary-font-stack;
    font-size: f.rem-calc(v.$font-size-xsmall);
    text-align: justify;
    @include q.respond-above(md) {
        font-size: f.rem-calc(v.$font-size-small);
    }
    @include q.respond-above(lg) {
        font-size: f.rem-calc(v.$font-size-medium);
    }
    @include q.respond-above(xl) {
        font-size: f.rem-calc(v.$font-size-large);
    }
}

ul {
    margin: 0;
    padding: 0;
}

a {
	color: v.$primary-link-color;
	text-decoration: none;
	font-size: f.rem-calc(v.$link-font-size-xsmall);
	margin-right: f.rem-calc(10);
	transition: all .25s ease-in-out;
    @include q.respond-above(md) {
        font-size: f.rem-calc(v.$link-font-size-small);
    }
    @include q.respond-above(lg) {
        font-size: f.rem-calc(v.$link-font-size-medium);
    }
    @include q.respond-above(xl) {
        font-size: f.rem-calc(v.$link-font-size-large);
    }
}

a:hover {
	color: v.$primary-link-color-hover;
}

/* GENERAL-END */
