// modules/_layout.scss

@use "variables" as v;
@use "functions" as f;
@use "mixins" as m;
@use "media_queries" as q;

/* LAYOUT */

.logo-bg {
	background-color: v.$tertiary-bg-color;
	margin-top: f.rem-calc(55);
    @include q.respond-above(xs) {
	    margin-top: f.rem-calc(120);
    }
}

.banner-bg {
    background-color: v.$banner-bg-color;
    padding: f.rem-calc(60 0);
}

.banner > img, .logo > img {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.banner > img {
    width: 95%;
    @include q.respond-above(xs) {
    width: 98%;
    }
}

.dark-bg {
    background-color: v.$secondary-bg-color;
}

.dark-bg {
    background-color: v.$poster-bg-color;
    text-shadow: 2px 2px #000;
    @include q.respond-above(xs) {
        background-color: v.$secondary-bg-color;
    }
}

.dark {
    @include m.poster(v.$poster-bg-color, v.$primary-border-color);
    padding: f.rem-calc(20 30 0);
    @include q.respond-above(xs) {
        padding: f.rem-calc(60 40);
    }
}

.dark > h2 {
    color: v.$tertiary-header-color;
    font-weight: 600px;
    text-align: center;
}

.colored-list {
    @include m.list-color(v.$list-color-magenta--light, v.$list-color-red, v.$list-color-yellow, v.$list-color-blue);
    @include q.respond-above(xs) {
        @include m.list-color(v.$list-color-magenta, v.$list-color-red, v.$list-color-yellow, v.$list-color-blue);
    }
}

.colored-list > h2 {
    margin-bottom: f.rem-calc(50);
}

footer {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 2rem 0 2rem;
}

.footer-copyright {
    color: #d9b034;
	text-align: center;
	text-shadow: 2px 2px #000;
}

#copyRight {
    color: #d9b034;
    font-size: f.rem-calc(v.$font-size-xxsmall);
	text-align: center;
	text-shadow: 2px 2px #000;
    @include q.respond-above(sm) {
        font-size: f.rem-calc(v.$font-size-small);
    }
    @include q.respond-above(md) {
        font-size: f.rem-calc(v.$font-size-medium);
    }
    @include q.respond-above(lg) {
        font-size: f.rem-calc(v.$font-size-large);
    }
}

.footer-nav {
	height: 0;
}

.card-bg h2 {
	color: #ffcd37;
	text-align: center;
	margin-bottom: f.rem-calc(60);
}

.card {
	background-color: rgba(0,0,0,0.6);
	padding: 5px;
}

.card-img {
    margin-bottom: f.rem-calc(20);
}

.card-body {
    padding: f.rem-calc(20);
    height: 450px;
    @include q.respond-above(md) {
        padding: f.rem-calc(30);
        height: 500px;
    }
    @include q.respond-above(lg) {
        height: 570px;
    }
}

.card-body > p {
    color: #76bb85;
    font-size: f.rem-calc(14);
    @include q.respond-above(md) {
        font-size: f.rem-calc(16);
    }
    @include q.respond-above(lg) {
        font-size: f.rem-calc(18);
    }
}

.card-body > p > strong{
    color: #d0ac3d;
}

// .img-responsive {
// 	display: block;
// 	margin: 0 auto;
// 	padding: 0;
// 	width: 100%;
// }

/* LAYOUT-END */