// modules/_mixins.scss

// @use "variables" as v;
@use "functions" as f;


@mixin poster($bg-color, $border-color) {
    background-color: $bg-color;
    border: f.rem-calc(8) solid $border-color;
    border-radius: f.rem-calc(6);
    box-shadow: f.rem-calc(5 5 20 2) #000;
}

@mixin list-color($color-one, $color-two, $color-three, $color-four) {
    > ul > li {
        font-size: f.rem-calc(20);
        font-weight: 600;
        list-style: none;
        margin-bottom: f.rem-calc(40);
        text-align: center;
    }

    > ul > li:nth-of-type(1) {
        color: $color-one;
    }

    > ul > li:nth-of-type(2) {
        color: $color-two;
    }

    > ul > li:nth-of-type(3) {
        color: $color-three;
    }

    > ul > li:nth-of-type(4) {
        color: $color-four;
        margin-bottom: 0;
    }
}