// modules/_navbar.scss

@use "variables" as v;
@use "functions" as f;
@use "media_queries" as q;

/* NAVBAR */

.navbar {
	background-color: #2b532a !important
}

.navbar-dark .navbar-nav .nav-link {
	color: #d9b034;
    font-weight: 400;
    padding: f.rem-calc(0 15 15 0);
    @include q.respond-above(xs) {
        padding: f.rem-calc(15);
    }
}

/* .navbar-dark .navbar-nav .nav-link:focus, */
.navbar-dark .navbar-nav .nav-link:hover {
	color: #d96a28;
	transition: all .5s ease-in-out;
}

.nav-item:nth-of-type(1) {
	margin-top: 1.25rem;
}

.nav-item {
    &:nth-of-type(1) {
        margin-top: f.rem-calc(20);
    }
    @include q.respond-above(xs) {
        &:nth-of-type(1) {
            margin-top: f.rem-calc(0);
        }
    }
    > .nav-link {
        font-size: f.rem-calc(v.$link-font-size-xsmall);
        // margin-bottom: f.rem-calc(10);
        @include q.respond-above(sm) {
            font-size: f.rem-calc(v.$link-font-size-small);
        }
        @include q.respond-above(md) {
            font-size: f.rem-calc(v.$link-font-size-medium);
        }
        @include q.respond-above(lg) {
            font-size: f.rem-calc(v.$link-font-size-large);
        }
    }
}

.navbar-toggler {
	color: rgba(255,255,255,.5);
	border-color: rgba(255,255,255,.1);
}

/* NAVBAR-END */