// modules/_variables.scss

/* fonts */

$primary-font-stack: "Kameron", Georgia, "Times New Roman", Times, serif;
$secondary-font-stack: Georgia, "Times New Roman", Times, serif;

/* main colors variables */

// $body-bg: #2e9244;
// $page-bg: #202020;
// $secondary-page-bg: #000;
// $body-font-color: #909090;
// $secondary-font-color: #a2f6b5;
// $header-color: #dbfca6;
// $secondary-header-color: #90908f;

// $link-color: #45ed6b;

/* colors scheme */
$primary-bg-color:rgba(237, 250, 162, 0.9);
$secondary-bg-color:rgba(0, 0, 0, 0.4);
$tertiary-bg-color: #fffaa2;
$banner-bg-color: rgba(0, 0, 0, 0.5);
$poster-bg-color: rgba(0, 0, 0, 0.6);
// $logo-bg-color: #fffaa2;
$primary-font-color:#527d5b;
$secondary-font-color:#fffaa2;

// color layout
// $section-bg-color: $primary-bg-color;


$primary-header-color: #ffcd37;
$secondary-header-color: #0aaa2d;
$tertiary-header-color: #ffcd37;

$primary-link-color: #eae58e;
$primary-link-color-hover: #ffcd37;

$primary-border-color: #7dab4b;

