// modules/_variables.scss

// font families
$primary-font-stack: "Kameron", Georgia, "Times New Roman", Times, serif;
$secondary-font-stack: Georgia, "Times New Roman", Times, serif;

// background colors
$primary-bg-color:rgba(237, 250, 162, 0.9);
$secondary-bg-color:rgba(0, 0, 0, 0.4);
$tertiary-bg-color: #fffaa2;
$banner-bg-color: rgba(0, 0, 0, 0.5);
$poster-bg-color: rgba(0, 0, 0, 0.6);

// font colors
$primary-font-color:#527d5b;
$secondary-font-color:#fffaa2;

// header colors
$primary-header-color: #ffcd37;
$secondary-header-color: #0aaa2d;
$tertiary-header-color: #ffcd37;

// link colors
$primary-link-color: #eae58e;
$primary-link-color-hover: #ffcd37;

// border colors
$primary-border-color: #7dab4b;

// list colors
$list-color-blue: #7fb0d7;
$list-color-yellow: #e6ea74;
$list-color-red: #f8585d;
$list-color-magenta: #ae3d88;

// carousel
$carousel-font-color: #fffaa2;

/* font size */

$font-size-xsmall: 16px;
$font-size-small: 18px;
$font-size-medium: 20px;
$font-size-large: 22px;
$h1-font-size-xsmall: 20px;
$h1-font-size-small: 26px;
$h1-font-size-medium: 34px;
$h1-font-size-large: 40px;
$h2-font-size-xsmall: 22px;
$h2-font-size-small: 26px;
$h2-font-size-medium: 32px;
$h2-font-size-large: 36px;
$link-font-size-xsmall: 16px;
$link-font-size-small: 18px;
$link-font-size-medium: 20px;
$link-font-size-large: 20px;