
/* BANNER */

body {
    background-image: url('../images/branches.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

header {
    background-color: #fffaa2;
}

section {
    padding: 60px 0;
    background-color: rgba(237, 250, 162, 0.9);
}

h1 {
    color: #ffcd37;
    font-size: 30px;
    font-weight: 900px;
    margin-bottom: 60px;
    text-align: center;
 
}

h2 {
    color: #0aaa2d;
    font-weight: 600px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    text-align: justify;
}

ul {
    padding: 0;
}

/* .logo {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
} */

/* .logo-bg {
    margin: 0;
    padding: 0;
} */

.banner-bg {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 60px 0;
}

/* .banner {
    background-color: rgba(0, 0, 0, 0.6);
    width: 90%;
    border: 8px solid #7dab4b;
    border-radius: 6px;
    box-shadow: 5px 5px 20px 2px #000;
    padding: 20px 20px;
} */

.banner > img, .logo > img {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.banner > img {
    width: 100%;
}

.dark-bg {
    background-color: rgba(0, 0, 0, 0.4);
}

.dark {
    /* background-color: rgba(13, 73, 33, 0.6); */
    background-color: rgba(0, 0, 0, 0.6);
    border: 8px solid #7dab4b;
    border-radius: 6px;
    box-shadow: 5px 5px 20px 2px #000;
    padding: 60px 40px;
}

.dark > h2 {
    color: #ffcd37;
    /* font-size: 30px; */
    font-weight: 600px;
    margin-bottom: 40px;
    text-align: center;
}

.dark > p {
    color: #fffaa2;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
}

.dark > p > span {
    color: #7dab4b;
    font-style: normal;
    font-weight: 900;
}

.benefits > ul > li {
    font-size: 20px;
    font-weight: 600;
    list-style: none;
    margin-bottom: 40px;
    text-align: center;
}

.benefits > ul > li:nth-of-type(1) {
    color: #ae3d88;
}

.benefits > ul > li:nth-of-type(2) {
    color: #f8585d;
}

.benefits > ul > li:nth-of-type(3) {
    color: #e6ea74;
}

.benefits > ul > li:nth-of-type(4) {
    color: #7fb0d7;
    margin-bottom: 0;
}