/* Error: Undefined variable.
 *     ,
 * 107 |     color: $tertiary-header-color;
 *     |            ^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   assets/scss/modules/components.scss 107:9  @use
 *   assets/scss/styles.scss 12:1               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a     \2577 \a 107 \2502      color: $tertiary-header-color;\a     \2502             ^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   assets/scss/modules/components.scss 107:9  @use\a   assets/scss/styles.scss 12:1               root stylesheet";
}
